{{template "base" .}}

<!-- The title and body are used in the base layout
     so we just need to define them here.
-->
{{define "title"}}Home{{end}}

{{define "body"}}
<h2>Latest Snippets</h2>
<p>There's nothing to see here yet!</p>
{{end}}
